# Development (localhost)
NEXT_PUBLIC_WS_HOST=ws://localhost:3001

# Production (Render) — ganti URL_REEEND_BACKEND dengan URL backend kamu setelah deploy
# NEXT_PUBLIC_WS_HOST=wss://NAMA_APP_BACKEND.onrender.com
